sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
pyjwt
fastapi
uvicorn
langchain
langgraph
langchain-text-splitters
langchain-google-genai
PyMuPDF
python-docx
pgvector
email-validator
python-multipart
slowapi
redis
pytest